
/* base source :  https://codepen.io/h3xc0ntr0l/details/BoNEXq */





/* NAVBAR */

.hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
    text-decoration: none;

}

.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}



@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}



/*everything below here is just setting up the page, so dont worry about it */

@media (min-width: 768px) {
  .navbar{
    text-align: center !important;
    float: none;
    display: inline-block;
  }
}
/*background-image: linear-gradient(to right bottom, #071f27, #003c41, #005b4a, #297940, #72922a);  background-color: rgb(0, 128, 64);
*/
body {
background-image: linear-gradient(to right bottom, #071f27, #003c41, #005b4a, #297940, #72922a) ;
background-color: rgb(0, 128, 64)
background-repeat: no-repeat;
background-position: center;
background-attachment: scroll;
background-size: cover;

 font-weight:600;
  text-align:center !important;
  color: white;
  text-decoration:none
}

nav {
  background: none !important;
  text-transform:uppercase;
  li {
    margin-left: 3em;
    margin-right: 3em;
    a{
      transition: .5s color ease-in-out;
    }
  }
}

.page-title {
  opacity: .75 !important;
}

/* HOVER OVER NAV */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* ALERTS  */

.alert i[class^="bi-"]{
  font-size: 1.5em;
  line-height: 1;
}

/* TABLE  */

table{
border-spacing: 20px;
  margin-left: auto;
  margin-right: auto;
width: 95%

}

td, th {
  border: 1px solid #96D4D4;
  text-align: center;
  padding: 20px;
   border-radius: 100px;
   }
tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.25);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* FORMS */

.centerform {
  display:flex;
   justify-content: center;
    margin-bottom:100px;
   margin-top:50px;

.element{
    margin-bottom:100px;
}

}

.specialcolor{
color:#368a7f
}


#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
width: 95%
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,  {
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

html {
    min-height: 100%;
}