<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
body {
  background-image: url('https://images.pexels.com/photos/209037/pexels-photo-209037.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

    </style>

</head>
<body>
<header style="text-align:center" >
    <h1 >Oh meow, an error occurred! </h1>
    <a href="/" >Please return to home page</a>
</header>
</body>
</html>